<!-- app/views/users/show.html.erb -->

<div class="container">
  <div class="user-page">
    <h2>
      Your Home Page
    </h2>
    <div class="session-info">
        <%= "Email: #{session[:email]} User ID: #{session[:user_id]}" %>
    </div>
    <div id="flash-messages">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
    </div>
  </div>
</div>
