<!-- app/views/users/show.html.erb -->

<div class="container">
  <div class="user-page">
    <h2>
      Session Home Page
    </h2>
    <div id="flash-messages">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
    </div>
    <div class="session-info">
      <%= "You are logged in as #{session[:email]} (user id: #{session[:user_id]})" %>
    </div>
  </div>
</div>
