<!-- app/views/users/show.html.erb -->

<div class="container">
  <div class="user_page">
    <h2>
      Your Home Page
    </h2>
    <div class="session_info">
      <p>
        <%= "Email: #{session[:email]} User ID: #{session[:user_id]}" %>
      </p>
    </div>
    <div id="flash_messages">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
    </div>
  </div>
</div>
