/* ==> member-requests/app/assets/stylesheets/application.css */
*= require_self
*= require_tree .

body {
  background-color: white;
  font-family: Verdana;
  color: black;
  text-align: center;
}
.navbar-brand {
  font-size: 23px;
  margin-right: 50px;
}
.hdrtext {
  font-size: 16px;
  color: white;
}
.home-page {
  position: fixed;
  top: 35%;
  left: 35%;
  margin-top: -110px;
  text-align: center;
  /* margin-left: -25px; */
}
.home-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  text-align: center;
  /* margin: -90px 0px 30px; */
}
.home-page #flash-messages {
  font-size: 16px;
  color: #660000;
  font-style: italic;
  text-align: center;
  /* margin-left: -3px;
  margin-bottom: 20px; */
}
.home-page .home-links {
  font-size: 20px;
  margin-left: -8px;
  text-align: center;
} 
.login-page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -40px;
  margin-left: -50px;
}
.login-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-top: -50px;
  margin-left: 204px;
  margin-bottom: 30px;
}
.signup-page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -40px;
  margin-left: -150px;
}
.signup-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-top: -50px;
  margin-left: 308px;
  margin-bottom: 30px;
}
.user-page {
  position: fixed;
  top: 22%;
  left: 35%;
  margin-top: -50px;
  margin-left: 75px;
}
.user-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-left: 10px;
  margin-bottom: 18px;
}
.user-page .subhead {
  text-align: center;
  margin-left: -41px;
}
.user-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  /* text-align: center; */
  margin-bottom: 15px;
}
.user-page .session-info {
  font-size: 15px;
  font-style: italic;
  /* text-align: center; */
}
.post-page {
  position: fixed;
  top: 23%;
  left: 35%;
  margin-top: -65px;
  margin-left: -40px;
}
.post-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-left: 121px;
  margin-bottom: 20px;
}
.post-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
}
.post-page .session-info {
  font-size: 16px;
  font-style: italic;
  margin-left: 49px;
  margin-bottom: 28px;
}
.post-page .post-form {
  margin-left: -17px;
}
.your-req-page {
  position: fixed;
  top: 24%;
  left: 35%;
  margin-top: -50px;
  margin-left: 100px;
}
.your-req-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin: 0px 0px 12px;
}
.your-req-page .subhead {
  margin-left: -86px;
}
.your-req-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  margin-bottom: 15px;
}
.your-req-page .session-info {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 25px;
}
.your-req-page .request-list {
  margin-left: -86px;
}
.no-open-req {
  font-size: 17px;
  margin-left: -15px;
}
.open-req-page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -50px;
  margin-left: 100px;
}
.open-req-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin: -21px 0px 1px;
}
.open-req-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  text-align: center;
  margin-bottom: 35px;
}
.open-req-page .session-info {
  font-size: 16px;
  font-style: italic;
  margin-left: -59px;
  margin-bottom: 22px;
}
.open-req-page .request-list {
  margin-left: -118px;
}
.open-req-page .no-vote {
  font-size: 15px;
  font-style: italic;
  margin-left: 87px;
  margin-bottom: 33px;
}
.rank-page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -73px;
  margin-left: 100px;
}
.rank-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-left: -25px;
  margin-bottom: 12px;
}
.rank-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
}
.rank-page .session-info {
  font-size: 17px;
  margin-left: -84px;
  margin-bottom: 25px;
}
.rank-page .request-list {
  margin-left: -126px;
}












