/* ==> member-requests/app/assets/stylesheets/application.css */
*= require_self
*= require_tree .

body {
  background-color: white;
  font-family: Verdana;
  color: black;
  text-align: center;
}
.navbar-brand {
  font-size: 23px;
  margin-right: 50px;
}
.hdrtext {
  font-size: 16px;
  color: white;
}
.home-page {
  position: fixed;
  top: 35%;
  left: 35%;
  margin-top: -110px;
  text-align: center;
  /* margin-left: -25px; */
}
.home-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin: -90px 0px 30px;
}
.home-page #flash-messages {
  font-size: 16px;
  color: #660000;
  font-style: italic;
  text-align: center;
  margin-left: -3px;
  margin-bottom: 20px;
}
.home-page .home-links {
  font-size: 20px;
  margin-left: 0px;
  text-align: center;
} 
.login-page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -40px;
  margin-left: -50px;
}
.login-page h2 {
  text-align: center;
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-top: -50px;
  margin-bottom: 30px;
  margin-left: 185px;
}
.signup-page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -40px;
  margin-left: -150px;
}
.signup-page h2 {
  text-align: center;
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-top: -50px;
  margin-bottom: 30px;
  margin-left: 280px;
}
.user-page {
  position: fixed;
  top: 22%;
  left: 35%;
  margin-top: -50px;
  margin-left: 75px;
}
.user-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-bottom: 18px;
}
.user-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
  margin-left: -29px;
}
.user-page .session-info {
  font-size: 15px;
  font-style: italic;
  margin-left: -29px;
}
.post-page {
  position: fixed;
  top: 23%;
  left: 35%;
  margin-top: -65px;
  margin-left: -40px;
}
.post-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-left: 121px;
  margin-bottom: 20px;
}
.post-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
}
.post-page .session-info {
  font-size: 17px;
  margin-left: 104px;
  margin-bottom: 28px;
}
.your-req-page {
  position: fixed;
  top: 24%;
  left: 35%;
  margin-top: -50px;
  margin-left: 100px;
}
.your-req-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin: 0px 0px 12px;
}
.your-req-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
}
.your-req-page .session-info {
  font-size: 17px;
  margin-left: -76px;
  margin-bottom: 25px;
}
.your-req-page .request-list {
  margin-left: -118px;
}
.no-open-req {
  font-size: 17px;
  margin-left: -15px;
}
.open-req-page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -50px;
  margin-left: 100px;
}
.open-req-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin: 0px 0px 8px;
}
.open-req-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  text-align: center;
  margin-bottom: 35px;
}
.open-req-page .session-info {
  font-size: 15px;
  font-style: italic;
  margin-left: -34px;
}
.open-req-page .request-list {
  margin-left: -118px;
}
.rank-page {
  position: fixed;
  top: 25%;
  left: 35%;
  margin-top: -73px;
  margin-left: 100px;
}
.rank-page h2 {
  display: inline-block;
  font-size: 27px;
  font-style: italic;
  margin-left: -25px;
  margin-bottom: 12px;
}
.rank-page #flash-messages {
  font-size: 15px;
  color: #660000;
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
}
.rank-page .session-info {
  font-size: 17px;
  margin-left: -84px;
  margin-bottom: 25px;
}
.rank-page .request-list {
  margin-left: -126px;
}












